---
kind: Service
apiVersion: v1
metadata:
  name: httpd-service
spec:
  selector:
    app: httpd
  ports:
    - nodePort: 443
      port: 443
      targetPort: 443
      name: https
    - nodePort: 80
      port: 80
      targetPort: 80
      name: http
  type: NodePort
