---
apiVersion: batch/v1beta1
kind: CronJob
metadata:
  name: bloat-tables-indexes-list
  namespace: dbmanager
spec:
  schedule: "0 2 * * *"
  jobTemplate:
    spec:
      template:
        spec:
          containers:
            - name: bloat-tables-indexes-list
              image: ivantipartners/dbmanager:118.0.0-151.production
              command: ["/bin/sh", "-c"]
              args:
                - |
                  echo "*:5432:polaris_rpt:polaris_rpt:$(echo $RPT_PASSWORD | sed 's/\([:\\]\)/\\\1/g')" >> ~/.pgpass;
                  echo "*:5432:polaris:polaris:$(echo $DB_PASSWORD | sed 's/\([:\\]\)/\\\1/g')" >> ~/.pgpass;
                  chmod 400 ~/.pgpass;
                  dt=$(date "+%Y-%m-%d-%H:%M:%S");
                  bash /mobileiron.com/data/cloudops/rpt/bloat_tables_indexes_list.sh \
                  -h ${DB_HOST} \
                  -c ${SITE} \
                  -d ${DB_NAME} \
                  -p ${DB_PORT} \
                  -u ${DB_USERNAME} \
                  -b ${BLOAT_THRESHOLD}  \
                  --slack_url ${SLACK_URL_FOR_BLOAT_TABLES} \
                  --vops_url ${VICTOROPS_URL_FOR_BLOAT_TABLES} \
                  >> ${DBMANAGER_PATH}/bloat_tables_indexes_list/bloat_tables_indexes_$dt.log;
                  echo $?;
              env:
                - name: CLOUDOPS_DIR
                  valueFrom:
                    configMapKeyRef:
                      name: dbmanager-configmap
                      key: cloudops.dir
                - name: DB_HOST
                  valueFrom:
                    configMapKeyRef:
                      name: dbmanager-configmap
                      key: db.host
                - name: DB_PORT
                  valueFrom:
                    configMapKeyRef:
                      name: dbmanager-configmap
                      key: db.port
                - name: DB_USERNAME
                  valueFrom:
                    configMapKeyRef:
                      name: dbmanager-configmap
                      key: db.username
                - name: DB_NAME
                  valueFrom:
                    configMapKeyRef:
                      name: dbmanager-configmap
                      key: db.name
                - name: DB_SSLMODE
                  valueFrom:
                    configMapKeyRef:
                      name: dbmanager-configmap
                      key: db.sslmode
                - name: DB_PASSWORD
                  valueFrom:
                    secretKeyRef:
                      name: dbmanager-secret
                      key: db.password
                - name: DBMANAGER_PATH
                  valueFrom:
                    configMapKeyRef:
                      name: dbmanager-configmap
                      key: dbmanager.path
                - name: SLACK_URL_FOR_BLOAT_TABLES
                  valueFrom:
                    configMapKeyRef:
                      name: dbmanager-configmap
                      key: slack.url.for.bloat.tables
                - name: VICTOROPS_URL_FOR_BLOAT_TABLES
                  valueFrom:
                    configMapKeyRef:
                      name: dbmanager-configmap
                      key: victorops.url.for.bloat.tables
                - name: SITE
                  valueFrom:
                    configMapKeyRef:
                      name: dbmanager-configmap
                      key: hostname
                - name: BLOAT_THRESHOLD
                  valueFrom:
                    configMapKeyRef:
                      name: dbmanager-configmap
                      key: bloat.threshold
              volumeMounts:
                - name: nfs-share-dbmanager
                  mountPath: /mobileiron.com/data/dbmanager/
          volumes:
            - name: nfs-share-dbmanager
              persistentVolumeClaim:
                claimName: nfs-pvc-dbmanager
          restartPolicy: OnFailure
          imagePullSecrets:
            - name: docker-hub-secret-dbmanager 
