---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: debezium-deployment
  labels:
    app: debezium
spec:
  replicas: 1
  selector:
    matchLabels:
      app: debezium
  template:
    metadata:
      labels:
        app: debezium
    spec:
      containers:
        - name: debezium
          image: ivantipartners/debezium:117.0.0-2.production
          ports:
            - containerPort: 8083
            - containerPort: 9012
          readinessProbe:
            exec:
              command:
                - ./monitoring.sh
            failureThreshold: 6
            initialDelaySeconds: 60
            periodSeconds: 30
            successThreshold: 1
            timeoutSeconds: 5
          livenessProbe:
            exec:
              command:
                - ./monitoring.sh
            failureThreshold: 6
            initialDelaySeconds: 60
            periodSeconds: 30
            successThreshold: 1
            timeoutSeconds: 5
          env:
            - name: BOOTSTRAP_SERVERS
              valueFrom:
                configMapKeyRef:
                  name: debezium-configmap
                  key: kafka.hosts
            - name: KAFKA_BOOTSTRAP_SERVERS_STRING
              valueFrom:
                configMapKeyRef:
                  name: debezium-configmap
                  key: kafka.hosts
            - name: KAFKA_HEAP_OPTS
              valueFrom:
                configMapKeyRef:
                  name: debezium-configmap
                  key: java.opts
            - name: DATABASE_HOSTNAME
              valueFrom:
                configMapKeyRef:
                  name: debezium-configmap
                  key: db.host
            - name: DATABASE_NAME
              valueFrom:
                configMapKeyRef:
                  name: debezium-configmap
                  key: db.name
            - name: DATABASE_PORT
              valueFrom:
                configMapKeyRef:
                  name: debezium-configmap
                  key: db.port
            - name: DATABASE_SSL_MODE
              valueFrom:
                configMapKeyRef:
                  name: debezium-configmap
                  key: db.sslmode
            - name: DATABASE_USER
              valueFrom:
                secretKeyRef:
                  name: debezium-secret
                  key: db.username
            - name: DATABASE_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: debezium-secret
                  key: db.password
            - name: CONNECT_STATUS_STORAGE_REPLICATION_FACTOR
              valueFrom:
                configMapKeyRef:
                  name: debezium-configmap
                  key: status.storage.replication.factor
            - name: CONNECT_CONFIG_STORAGE_REPLICATION_FACTOR
              valueFrom:
                configMapKeyRef:
                  name: debezium-configmap
                  key: config.storage.replication.factor
            - name: CONNECT_OFFSET_STORAGE_REPLICATION_FACTOR
              valueFrom:
                configMapKeyRef:
                  name: debezium-configmap
                  key: offset.storage.replication.factor
            - name: CONFIG_STORAGE_TOPIC
              valueFrom:
                configMapKeyRef:
                  name: debezium-configmap
                  key: config.storage.topic
            - name: OFFSET_STORAGE_TOPIC
              valueFrom:
                configMapKeyRef:
                  name: debezium-configmap
                  key: offset.storage.topic
            - name: OFFSET_FLUSH_INTERVAL_MS
              valueFrom:
                configMapKeyRef:
                  name: debezium-configmap
                  key: offset.flush.interval
            - name: OFFSET_FLUSH_TIMEOUT_MS
              valueFrom:
                configMapKeyRef:
                  name: debezium-configmap
                  key: offset.flush.timeout
            - name: PS1
              valueFrom:
                configMapKeyRef:
                  name: debezium-configmap
                  key: ps1
            - name: KAFKA_SSL_ENABLED
              valueFrom:
                configMapKeyRef:
                  name: debezium-configmap
                  key: kafka.ssl.enabled
            - name: ENABLED_PUBLICATION_CREATION
              valueFrom:
                configMapKeyRef:
                  key: enabled.publication.creation
                  name: debezium-configmap
          volumeMounts:
            - name: nfs-share-debezium
              mountPath: /mobileiron.com/data/debezium/debug
      volumes:
        - name: nfs-share-debezium
          persistentVolumeClaim:
            claimName: nfs-pvc-debezium
      imagePullSecrets:
        - name: docker-hub-secret
