---
apiVersion: batch/v1beta1
kind: CronJob
metadata:
  name: account-login-history
  namespace: dbmanager
spec:
  schedule: "0 2 * * *"
  jobTemplate:
    spec:
      template:
        spec:
          containers:
            - name: account-login-history
              image: ivantipartners/dbmanager:119.0.0-2.production
              command: ["/bin/sh", "-c"]
              args:
                - |
                  dt=$(date "+%Y-%m-%d-%H:%M:%S");
                  PGPASSWORD=${DB_PASSWORD} \
                  PGSSLMODE=${DB_SSLMODE} \
                  /usr/bin/psql \
                  -h ${DB_HOST} \
                  -p ${DB_PORT} \
                  -U ${DB_USERNAME} \
                  -d ${DB_NAME} \
                  -f /mobileiron.com/data/cloudops/rpt/cleanup_account_login_history_table.sql \
                  >> ${DBMANAGER_PATH}/account_login_history_report/account_login_history_$dt.log;
              env:
                - name: DB_HOST
                  valueFrom:
                    configMapKeyRef:
                      name: dbmanager-configmap
                      key: db.host
                - name: DB_PORT
                  valueFrom:
                    configMapKeyRef:
                      name: dbmanager-configmap
                      key: db.port
                - name: DB_USERNAME
                  valueFrom:
                    configMapKeyRef:
                      name: dbmanager-configmap
                      key: db.username
                - name: DB_NAME
                  valueFrom:
                    configMapKeyRef:
                      name: dbmanager-configmap
                      key: db.name
                - name: DB_SSLMODE
                  valueFrom:
                    configMapKeyRef:
                      name: dbmanager-configmap
                      key: db.sslmode
                - name: DB_PASSWORD
                  valueFrom:
                    secretKeyRef:
                      name: dbmanager-secret
                      key: db.password
                - name: DBMANAGER_PATH
                  valueFrom:
                    configMapKeyRef:
                      name: dbmanager-configmap
                      key: dbmanager.path
              volumeMounts:
                - name: nfs-share-dbmanager
                  mountPath: /mobileiron.com/data/dbmanager/
          volumes:
            - name: nfs-share-dbmanager
              persistentVolumeClaim:
                claimName: nfs-pvc-dbmanager
          restartPolicy: OnFailure
          imagePullSecrets:
            - name: docker-hub-secret-dbmanager
