---
- name: Add firewalld rule to allow port 2049/tcp
  firewalld:
    port: 2049/tcp
    permanent: true
    state: enabled
  register: firewalld1

- name: Add firewalld rule to allow port 2049/udp
  firewalld:
    port: 2049/udp
    permanent: true
    state: enabled
  register: firewalld2

- name: Reload firewalld
  service:
    name: firewalld
    state: reloaded
  when: firewalld1.changed or firewalld2.changed

- name: Reinstall nfs-utils
  yum:
    name: nfs-utils
    state: latest

- name: Create /etc/netconfig
  lineinfile:
    path: /etc/netconfig
    line: "{{ item }}"
    create: yes
  loop:
    - "# The network configuration file. This file is currently only used in"
    - "# conjunction with the TI-RPC code in the libtirpc library."
    - "#"
    - "# Entries consist of:"
    - "#"
    - "# <network_id> <semantics> <flags> <protofamily> <protoname> \\"
    - "# <device> <nametoaddr_libs>"
    - "#"
    - "# The <device> and <nametoaddr_libs> fields are always empty in this"
    - "# implementation."
    - "udp tpi_clts v inet udp - -"
    - "tcp tpi_cots_ord v inet tcp - -"
    - "udp6 tpi_clts v inet6 udp - -"
    - "tcp6 tpi_cots_ord v inet6 tcp - -"
    - "rawip tpi_raw - inet - - -"
    - "local tpi_cots_ord - loopback - - -"
    - "unix tpi_cots_ord - loopback - - -"

- name: Reinstall libtirpc package
  command: "yum reinstall -y libtirpc"

- name : import geerlingguy.nfs role
  import_role:
    name: geerlingguy.nfs
  vars:
    nfs_exports: "{{ nfs_exports_parameter }}"

