---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: nfs-pvc-universal-worker
  namespace: kafkaworker
spec:
  accessModes:
    - ReadWriteMany
  resources:
    requests:
      storage: 1Gi
