---
apiVersion: batch/v1beta1
kind: CronJob
metadata:
  name: partition-rollup
  namespace: dbmanager
spec:
  schedule: "0 1 * * *"
  jobTemplate:
    spec:
      template:
        spec:
          containers:
            - name: partition-rollup
              image: ivantipartners/dbmanager:119.0.0-2.production
              command: ["/bin/sh", "-c"]
              args:
                - |
                  dt=$(date "+%Y-%m-%d-%H:%M:%S");
                  PGPASSWORD=${RPT_PASSWORD} \
                  PGSSLMODE=${RPT_SSLMODE} \
                  /usr/bin/psql \
                  -h ${RPT_HOST} \
                  -p ${RPT_PORT} \
                  -U ${RPT_LOGIN} \
                  -d ${RPT_NAME} \
                  -f /mobileiron.com/data/cloudops/rpt/accounts_devices_partition_rollup.sql \
                  >> ${DBMANAGER_PATH}/partition_rollup_report/partition_rollup_report_$dt.log;
              env:
                - name: RPT_HOST
                  valueFrom:
                    configMapKeyRef:
                      name: dbmanager-configmap
                      key: rpt.host
                - name: RPT_PORT
                  valueFrom:
                    configMapKeyRef:
                      name: dbmanager-configmap
                      key: rpt.port
                - name: RPT_LOGIN
                  valueFrom:
                    configMapKeyRef:
                      name: dbmanager-configmap
                      key: rpt.login
                - name: RPT_NAME
                  valueFrom:
                    configMapKeyRef:
                      name: dbmanager-configmap
                      key: rpt.name
                - name: RPT_SSLMODE
                  valueFrom:
                    configMapKeyRef:
                      name: dbmanager-configmap
                      key: rpt.sslmode
                - name: RPT_PASSWORD
                  valueFrom:
                    secretKeyRef:
                      name: dbmanager-secret
                      key: rpt.password
                - name: DBMANAGER_PATH
                  valueFrom:
                    configMapKeyRef:
                      name: dbmanager-configmap
                      key: dbmanager.path
              volumeMounts:
                - name: nfs-share-dbmanager
                  mountPath: /mobileiron.com/data/dbmanager/
          volumes:
            - name: nfs-share-dbmanager
              persistentVolumeClaim:
                claimName: nfs-pvc-dbmanager
          restartPolicy: OnFailure
          imagePullSecrets:
            - name: docker-hub-secret-dbmanager
