---
apiVersion: batch/v1beta1
kind: CronJob
metadata:
  name: vacuum-audit-tables
  namespace: dbmanager
spec:
  schedule: "0 3 1 * *"
  jobTemplate:
    spec:
      template:
        spec:
          containers:
            - name: vacuum-audit-tables
              image: ivantipartners/dbmanager:117.0.0-149.production
              command: ["/bin/sh", "-c"]
              args:
                - |
                  dt=$(date "+%Y-%m-%d-%H:%M:%S");
                  PGPASSWORD=${DB_PASSWORD} \
                  PGSSLMODE=${DB_SSLMODE} \
                  /usr/bin/psql \
                  -h ${DB_HOST} \
                  -p ${DB_PORT} \
                  -U ${DB_USERNAME} \
                  -d ${DB_NAME} \
                  -f /mobileiron.com/data/cloudops/rpt/vacuum_audit_tables.sql \
                  >> ${DBMANAGER_PATH}/vacuum_audit_tables_report/vacuum_audit_tables_$dt.log;
              env:
                - name: DB_HOST
                  valueFrom:
                    configMapKeyRef:
                      name: dbmanager-configmap
                      key: db.host
                - name: DB_PORT
                  valueFrom:
                    configMapKeyRef:
                      name: dbmanager-configmap
                      key: db.port
                - name: DB_USERNAME
                  valueFrom:
                    configMapKeyRef:
                      name: dbmanager-configmap
                      key: db.username
                - name: DB_NAME
                  valueFrom:
                    configMapKeyRef:
                      name: dbmanager-configmap
                      key: db.name
                - name: DB_SSLMODE
                  valueFrom:
                    configMapKeyRef:
                      name: dbmanager-configmap
                      key: db.sslmode
                - name: DB_PASSWORD
                  valueFrom:
                    secretKeyRef:
                      name: dbmanager-secret
                      key: db.password
                - name: DBMANAGER_PATH
                  valueFrom:
                    configMapKeyRef:
                      name: dbmanager-configmap
                      key: dbmanager.path
              volumeMounts:
                - name: nfs-share-dbmanager
                  mountPath: /mobileiron.com/data/dbmanager/
          volumes:
            - name: nfs-share-dbmanager
              persistentVolumeClaim:
                claimName: nfs-pvc-dbmanager
          restartPolicy: OnFailure
          imagePullSecrets:
            - name: docker-hub-secret-dbmanager
